html {
    background-image: url('./79th_Patch.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
}

body {
    background-color: hsla(225, 87%, 18%, 0.7);
    text-align: center;
    min-width: 600px;
}

.title {
    font-family: 'Times New Roman';
    font-size: x-large;
    text-transform: uppercase;
}

#link-description {
    font-size: 20px;
}

#external-link {
    color: blue;
    font-size: 20px;
}

.options-box, .title {
    background-color: white;
    opacity: 80%;
    padding: 10px; 
    margin: 0;
    border: 3px solid red;
    border-radius: 30px;
    position: relative;
    top: 0;
}

.options-label {
    box-sizing: border-box;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid green;
}

.options-selector {
    font-size: 20px;
    font-family: 'Times New Roman';
    border: 2px solid purple;
    margin: 10px auto;
}

/* options-selector margin wasn't working for the date worked box for some reason */
#date-worked {
    margin-top: 20px;
}

#time-error {
    color: red;
    position: relative;
    bottom: 20px;
    /* learn css relativity */
}

.button {
    height: 50px;
    width: 100px;
    font-size: x-large;
    font-family: 'Times New Roman';
    border: 2px solid #07547a;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
    background: rgb(8, 8, 208);
    color: white;
    text-shadow: white;
}

.button:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
    background: lightblue;
    background: linear-gradient(darkblue, darkblue);
    border-color: rgb(9, 5, 87);
}

.button:active {
    margin-top: 2px;
    margin-bottom: -2px;
    box-shadow: 0px 2px 2px rgba(63, 63, 63, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba (255, 255, 255, 0.4) inset;
}

footer {
    color: white;
}
